.button{
    width: 207px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
}
@media(width<390px){
    .button{
        width: 167px;
        height: 38px;
       
        font-size: 16px;
       
    }
}